<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            پیام سیستم
        </div>
    </div>
    <div class="panel-body">
        <h3 class="text-center">موردی برای نمایش یافت نشد.</h3>
    </div>
</div>