{% extends 'AppBundle:user:basePanel.html.twig' %}
{% block AppPageTitle %}پروفایل کاربری {{ user.fullName }}{% endblock %}
{% block AppPageBody %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
            <img class="img-responsive img-center img-rounded" src="{{ asset('images/dashboard-pic.png') }}">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
            <div class="alert alert-info text-center">
                جهت ثبت سفارش و سایر امکانات از منو سمت راست استفاده نمایید.
            </div>
        </div>
    </div>

{% endblock %}
